body {
  background: #fffa74db;
}
h1 {
  font-size: 90px;
  text-align: center;
}
p {
  color: black;
  background: rgb(233, 176, 90);
  padding: 20px;
  box-shadow: 5px 10px 10px;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: black;
}
.croissant-photo {
  max-width: 75%;
  border-radius: 10px;
  display: block;
  margin: 25px auto;
}
