body {
  background: radial-gradient(
    859px at 10% 20%,
    rgb(245, 220, 154) 0%,
    rgb(164, 78, 51) 90%
  );
}

h1 {
  font-size: 90px;
  text-align: center;
}

p {
  background: rgb(233, 176, 90);
  color: black;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  flex: 1;
  margin: 50px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: black;
}
.croissant-photo {
  max-width: 75%;
  border-radius: 10px;
  display: block;
  margin: 25px auto;
}
