body {
  background: #b7ff74;
}
h1 {
  font-size: 90px;
  text-align: center;
}
p {
  color: black;
  background: rgb(155, 96, 8);
  padding: 20px;
  box-shadow: 5px 10px 10px;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: white;
}
.croissant-photo {
  max-width: 75%;
  border-radius: 10px;
  display: block;
  margin: 25px auto;
}
